/*! == MEDIA QUERIES == */

@each $name,
$size in $breakpoints {
    @media (max-width: #{$size}) {
        .container {
            max-width: #{$size};
        }
    }
}

.mobile,
.mobile-nav-trigger {
    display: none;
}

/*===========LARGE (1200px)==========*/

@media only screen and(max-width: 1200px) {
    /*---GLOBALS---*/

    /*---HEADER---*/

    /*---CONTENT---*/

    /*---FOOTER---*/
} /*---end large mq---*/

/*===========MEDIUM (992px)==========*/

@media only screen and(max-width: 992px) {
    /*---GLOBALS---*/
    .site-wrapper {
        overflow: hidden;
    }
    .mobile,
    .mobile-nav-trigger {
        display: block;
    }

    .desktop {
        display: none;
    }
    
    .brand-device {
       // display: none;
    }
    
    .heading {
          &__1 {
            font: ($font_size * 2) + px / $font_line-height $font_primary;
          }
          &__2{
            font: ($font_size * 1.6) + px / $font_line-height $font_primary;  
          }
          &__3 {
              
          }
          &__4 {
              
          }
          &__5 {
            font: ($font_size * .7) + px / $font_line-height $font_primary;  
          }
      }
    
    /*---HEADER---*/
    .mobile-nav-trigger {
        display: grid;
    }
    /*---CONTENT---*/
    .top-section {
        padding-top: 100px;
    }
    

    /*---FOOTER---*/
} /*---end medium mq---*/

/*===========SMALL (768px)==========*/

@media only screen and(max-width: 768px) {
    /*---GLOBALS---*/

    /*---HEADER---*/
    
    /*---CONTENT---*/
    
    .introduction {
        width: 100%;
        margin-top: 1rem;
        .upper {
            height: auto;
            .intro-image {
                position: relative;
                height: 20rem;
            }
            .intro-text {
                padding: 1rem 1rem 3rem;
                height: auto;

            }
            .read-more {
                left: 1rem;
                bottom: 1rem;
                z-index: 500;
            }
        }
        .lower {
            .intro-text {
                &.more {
                    padding: 1rem;
                }   
            }
        }
    }
    .what-we-do,
    .process,
    .what-they-say,
    .faq {
        width: auto;
    }
    .vertical-tabs {
        grid-template-columns: 1fr;
        &__tabs,
        &__content {
            grid-column: 1/2;
        }
        &__tabs {
            .heading {
                opacity: .7;
                &.active {
                    margin-left: 0;
                    width: auto;
                    border-radius: 0.25rem;
                    opacity: 1;
                }
                &:after {
                    display: none;
                }
            }
        }
    }
    .process-carousel {
        .owl-item {
            opacity: 1;
        }
    }
    
    .process.container {
        padding: 0;
        max-width: 100%;
    }
    
    .what-they-say {
        >.container {
            grid-template-columns: 1fr;
        }
        .testimonial-carousel {
            grid-column: 1/2;
        }
    }
    
    .faq {
        >.container {
            grid-template-columns: 1fr;
            padding: 0;
        }
        .heading,
        .toggle {
            grid-column: 1/2;
        }
        .item {
            .question {
                position: relative;
                width: calc(100% - 5rem);
                padding: 1rem;
                padding-left: 4rem;
                span {
                    position: absolute;
                    left: 1rem;
                }
                i {
                    display: none;
                }
            }
        }
    }
    .documents,
    .contact {
        >.container {
            width: auto;
            grid-template-columns: 1fr;
            padding: 0;
        }
        .heading,
        .documents-inner,
        .contact-inner {
            grid-column: 1/2;
        }
        .heading {
            margin-bottom: 2rem;
        }
        .wpcf7 {
            width: 100%;
        }
    }
    .documents .container {
        padding: 0 2rem;
    }
    /*---FOOTER---*/

    .container.footer {
        grid-template-columns: 1fr;
        .contact-section {
            padding-left: 2rem;
            margin-bottom: 2rem;
            p {
                font-size: $font_size * .8px;
            }
        }
        }
} /*---end small mq---*/

/*===========EXTRA SMALL (576px)==========*/

@media only screen and(max-width: 576px) {
    /*---GLOBALS---*/

    /*---HEADER---*/

    /*---CONTENT---*/
    
    /*---FOOTER---*/

    
} /*---end extra small mq---*/
